h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 27px;
}
h2{
    font-size: 2rem;
    letter-spacing: 2px;
}
h4{
    font-family: 'Comfortaa', cursive;
}
.h4index{
    font-family: 'Comfortaa', cursive;
    font-size: 23px;
    padding-top: 20px;
}
h5{
    font-family: 'Roboto', sans-serif;
}
.h5index{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 7px;
    text-align: center;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
.letra{
    font-family: 'Roboto', sans-serif;
}
.letrapresentacion{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.letratitular{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}