@mixin noticiasformato1 {
    background-repeat: no-repeat;
    background-size: 110%;
    height: 27rem;
    display: grid;
    align-content: center;
    align-content: flex-end;
}
.noticiaindividual1{
    background-image: url(../imagenes/noticias/noticiasecundaria1.jpg);
    @include noticiasformato1()
}
.noticiaindividual2{
    background-image: url(../imagenes/noticias/noticiasecundaria2.png);
    @include noticiasformato1()
}
.noticiaindividual3{
    background-image: url(../imagenes/noticias/noticiasecundaria3.jpg);
    @include noticiasformato1()
}
.noticiaindividual4{
    background-image: url(../imagenes/noticias/noticiaterciaria1.jpg);
    background-repeat: no-repeat;
    height: 27rem;
    display: grid;
    align-content: center;
    align-content: flex-end;
}
.noticiaindividual5{
    background-image: url(../imagenes/noticias/noticiaterciaria2.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 21rem;
    display: grid;
    align-content: center;
    align-content: flex-end;
}
.noticiaindividual6{
    background-image: url(../imagenes/noticias/noticiaterciaria3.jpg);
    background-repeat: no-repeat;
    background-size: 106%;
    height: 21rem;
    display: grid;
    align-content: center;
    align-content: flex-end;
}
.noticiaindividual7{
    background-image: url(../imagenes/noticias/noticiaterciaria4.png);
    background-repeat: no-repeat;
    height: 21rem;
    display: grid;
    align-content: center;
    align-content: flex-end;
}
.noticiaprincipal{
    background-image: url(../imagenes/noticias/noticiaprincipal.png);
    background-repeat: no-repeat;
    height: 27rem;
    display: grid;
    align-content: center;
    align-content: flex-end;
    h4{
        font-size: 2rem;
    }
}