*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "header";
@import "fuentes";
@import "ultlanzamiento";
@import "noticias.scss";
@import "lanzamientos";
@import "artistas";
@import "quienessomos";
@import "footer";